@(productForm: Form[Product])(implicit flash: Flash, messages: Messages)		@* 폼 매개변수 *@

@* 폼 헬퍼 *@
@import helper._

@main(Messages("products.form")) {
    <h2>@Messages("products.form")</h2>

    @helper.form(action = routes.Products.save()) {		@* HTML 폼 표시 *@
    <fieldset>
        <legend>
            @Messages("products.details", Messages("products.new"))
        </legend>
    @helper.inputText(productForm("ean"))		@* input 요소 표시 *@
    @helper.inputText(productForm("name"))
    @helper.textarea(productForm("description"))
    </fieldset>
    <p><button type="submit" class="btn btn-default">@Messages("products.new.submit")</button></p>
    }
}